<table>
 <tr>
    <th>Name</th>    
    <th>Address</th>
  </tr>

  <% @stores.each do |store| %>
    <tr>
      
      <td><%= store.name %></td>
      <td><%= store.address %></td>
      <td><%= link_to 'New Shop', new_store_shop_path(store) %></td> 
      <td><%= link_to 'Show', store_path(store) %></td>
      <td><%= link_to 'Edit', edit_store_path(store) %></td>

      <td><%= link_to 'Destroy', store_path(store),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
  
    </tr>
  <% end %>
</table>
